/* Tiny Carousel */
#slider1 { height: 360px; overflow:hidden; padding:0; margin:-50px 0px 50px;z-index: 200;position: relative;  }
#slider1 img{ }
#slider1 h4{ color: #4a4a4a !important;padding: 0px 0 0 0;  font-weight: normal !important;font-size: 14px!important; text-align: left; margin: 0;}
#slider1 h3 a:hover {color: #dd6710 !important;}
#slider1 p{ padding: 0px 0 0px 0;  margin: 0px 0 10px 0; display: block; font-size: 12px!important; text-align: left;}
#slider1 h2 { width: 120px; height: 20px; padding:10px 0; margin:-19px auto 0 auto; display: block;text-align: center; z-index: 900;background: url(images/background.png);}
#slider1 .viewport { margin:0 auto; padding:0; float: left; width:950px; height:350px; overflow: hidden; position: relative; }
#slider1 .buttons { display: block; float:right; width:15px; height: 15px; text-indent:-999em; overflow: hidden;  position: relative; }
#slider1 .prev { background: url(../images/l_arrow.png) top no-repeat; margin:0px 5px 50px 1px; float: right; }
#slider1 .next { background: url(../images/r_arrow.png) top no-repeat; margin:0px 0 50px 0;  float: right;}
#slider1 .prev:hover { background: url(../images/l_arrow_h.png) top no-repeat; margin:0px 5px 50px 1px;  }
#slider1 .next:hover { background:url(../images/r_arrow_h.png) top no-repeat; margin:0px 0 50px 0;  }
#slider1 .disable { visibility: visible; }
#slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width:auto; left: 0; top: 0; }
#slider1 .overview li{ float: left; margin: 0 11px 0 0; padding:0; height: auto; width:auto;}
.center_small_box{margin: 0 4px 0 0; width: 220px;}

/* responsive width */
@media screen and (min-width:480px) and (max-width:800px) {
  /* Target landscape smartphones, portrait tablets, narrow desktops  */
#slider1 .viewport { margin:0 100px; padding:0;  width:470px; height:230px; overflow: hidden; position: relative; }
}

@media screen and (max-width:479px) {
  /* Target portrait smartphones */
#slider1 .viewport { margin:0 10px 0 0; padding:0; float: left; width:230px; height:230px; overflow: hidden; position: relative; }
}
@media all and (orientation: landscape) {
  /* Target device in landscape mode */
}

@media all and (orientation: portrait) {
  /* Target device in portrait mode */
}
/* END responsive width */